.career-content {
  display: flex;
}

.career-content-img ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.career-content-img ul li img {
  width: 100%;
}

.career-content-title {
  text-align: center;
  padding: 5px 15px;
}

.career-content-title-1 {
  font-size: 60px;
}

.career-content-title-2 {
  font-size: 25px;
  color: lightgreen;
}

.job-vacancies-title {
  font-size: 50px;
  text-align: center;
}

.get-all-candidatures-btn, .create-career-btn {
  padding: 10px 20px;
  border-radius: 15px;
  background: lightgreen;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.create-career-btn, .get-all-candidatures-btn:hover {
  cursor: pointer;
}

.get-all-candidatures {
  margin-top: 25px;
}

@media all and (max-width: 800px) {
  .career-content {
    flex-direction: column;
  }
}
