<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <ul class="nav-list-items">
        <li class="nav-list-item"><a routerLink='/menu'>MENU</a></li>
        <li class="nav-list-item"><a routerLink='/restourants'>RESTOURANTS</a></li>
        <li class="nav-list-item"><a routerLink='/book'>BOOK</a></li>
        <li class="logo">
          <a routerLink=''>
            <article class="logo-wrapper">
              <img src="https://pbs.twimg.com/profile_images/923932313460736001/vTVGplAo_400x400.jpg" alt="logo">
            </article>
          </a>
        </li>
        <li class="nav-list-item"><a routerLink='/career'>CAREERS</a></li>
        <li class="nav-list-item"><a routerLink="/about-us">ABOUT US</a></li>
        <li class="nav-list-item" *ngIf="isLogged | async"><a (click)="logoutHandler()">LOGOUT</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>
