<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main>
    <article>
      <h1>About us</h1>
      <p><strong>TSC</strong> is a chain of daily restaurants in Bulgaria. The exclusive quality of food and the high
        standard of service account for the best-in-class brand <strong>TSC</strong>. The chain also boasts the largest
        number of restaurants in Bulgaria located in the heart of larger towns and cities, or along the highways and the
        main roads. Besides <strong>TSC</strong> brand, our company has created and develops several other brands too.
      </p>
    </article>

    <article>
      <h1>History</h1>
      <p>The first restaurant of the <strong>TSC</strong> chain was opened in Varna, the sea pearl of Bulgaria, on
        Christmas
        Eve – 24 December 1994. The place was named Happy Moryashki Bar. Embraced by the local people, soon enough, on
        06
        July 1995 it was followed by the second start-up, <strong>TSC</strong> Orbita thus launching the largest and
        fast-growing chain
        of daily restaurants in the country. Nowadays, the company manages and develops 23 <strong>TSC</strong>
        restaurants in
        Bulgaria,
        two more in Barcelona, Spain and our newest location in London, UK. Our restaurants are set in the largest towns
        of Bulgaria, boasting top locations, or are top spots on the national road map</p>
    </article>

    <article>
      <p><strong>TSC</strong> Delivery is a service by <strong>TSC</strong>, launched back to 2010. Presently, <strong>TSC</strong> delivers on the
        territory of all towns and cities hosting a restaurant except for the national road network. Generally, the key
        to creating a feeling of happiness and pleasure is the mild humor garnished with a good taste. The brand uses
        the taste of life and the taste of food as equal notions in its public communications.
      </p>
    </article>
  </main>
</body>

</html>
