<main>
  <article>
    <img
      src="https://img.freepik.com/free-photo/empty-glasses-set-restaurant_113873-37.jpg?size=626&ext=jpg&ga=GA1.2.61417944.1607625055"
      alt="restaurant">
  </article>

  <article>
    <form class="form-wrapper" #form="ngForm" class="create-restaurant" (ngSubmit)="submitFormHandler(form.value)">

      <fieldset>
        <h2>Edit Restaurant</h2>

        <!-- name -->

        <p class="field field-icon">
          <label for="name">Name</label>
          <input #restaurantName="ngModel" type="text" name="name" id="name" ngModel maxlength="30">
        </p>

        <p *ngIf="restaurantName.touched && restaurantName.errors?.maxlength" class="error">
          Name can not be at more than 30 characters!
        </p>

        <!-- address -->

        <p class="field field-icon">
          <label for="address">Address</label>
          <input #restaurantAddress="ngModel" type="textarea" name="address" id="address" ngModel>
        </p>

        <!-- image -->

        <p class="field field-icon">
          <label class="custom-file-upload" for="image">Choose File
            <input #restaurantAddress="ngModel" (change)="onImagePicked($event)" placeholder="Upload Image" name="image"
              id="image" type="file" ngModel />
          </label>
        </p>

        <div *ngFor="let error of errorMessage | keyvalue">
          <p class="error">{{error.key}}:{{error.value}}</p>
        </div>

        <button class="create-restaurant-btn" [disabled]="loading || form.invalid">Edit</button>

      </fieldset>
    </form>
    <app-loader [loading]="loading"></app-loader>
  </article>
</main>
