<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main>

    <h1>Contact us</h1>

    <article>

      <hr>

      <h2>Customer email and phone</h2>
      <h2>customerservice@tsc.bg</h2>
      <h2>0886 000 700</h2>

      <hr>

      <h2>Marketing Department</h2>
      <h2>marketing@tsc.bg</h2>

      <hr>

      <h2>HR Department</h2>
      <h2>hr@tsc.bg</h2>

      <hr>

      <h2>Sales Department</h2>
      <h2>trade@happy.bg</h2>

      <hr>

      <h2>Customer email for TSC Delivery</h2>
      <h2>delivery@happy.bg</h2>

      <hr>

      <h2>Contact Phone (Head Office)</h2>
      <h2>052 602 617</h2>


      <h2>Contact Email (Head Office)</h2>
      <h2>office@tsc.bg</h2>

      <hr>
    </article>
  </main>
</body>

</html>
